<h4>Project Title: "<%= @projects.title %>"</h4>


  <% if @project.title %>
    <ul>
      <% @projects.title.each do |vol| %>
        <li><a href="/project/<%= @projects.id %>/volunteers/<%= vol.id %>"><%= vol.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no volunteers listed for this project yet.</p>
  <% end %>

<h3>Update a project</h3>

<form action="/project" method="post">
  <div class="form-group">
    <label for="title">Change Project Title</label>
    <input id="title" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Update Project</button>
</form>
<a href="/">Return to project list</a>